@unocss;

:root, body, #app {
    height: 100%;
}

/* https://www.codingnepalweb.com/playable-piano-html-css-javascript/ */
.keyboard {
    display: flex;
    list-style: none;
    margin-top: 40px;
}
.keyboard .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.keyboard .black {
    z-index: 2;
    width: 44px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}
.keyboard .black:hover {
    box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
    background:linear-gradient(to bottom, #000, #434343);
}
.keyboard .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 94%, #eee);
}
.keyboard .white:hover {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.keyboard .key.red {
    background: #ff6467;
    border: 1px solid #000;
}
.keyboard .key.green {
    background: #05df72;
    border: 1px solid #000;
}

.keyboard .key .letter {
    color: #666666;
    font-size: 1.1rem;
    padding-bottom: 0.3em;
}
.keyboard .key.black .letter {
    color: #777777;
}
